*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
}

.container{
  display: flex;
  background: linear-gradient(to right, #ad5389, #3c1053);
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container h1{
  color: white;
  line-height: 1.8em;
}

.container a{
  font-size: 90px;
  color: white;
  text-decoration: none;
}

.container a:hover{
  color: gold;
}