*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  background-image: linear-gradient(180deg, #000000 0%, #5d5967 100%);
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
}

/* Navigations */
.navbar{
  z-index: 999;
  position: fixed;
  width: 100%;
  overflow: hidden;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90,92,106,1) 0%, rgba(32,45,58,1) 81.3% );
  top: 0;
}

.menu {
  padding: 10px;
  display: grid;
}

.menu ul{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.menu a{
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.menu a:hover{
  color: lightblue;
  font-size: 1em;
  font-weight: bold;
  text-decoration: underline;
}
/* End Navigations */

/* Main */
.container {
  display: grid;
  grid-gap: 5px;
  margin-top: 30px;
}

/* Header */
.header{
  margin-top: 20px;
  display: grid;
  grid-template-areas:
      'hero about'
      'hero about';
  grid-template-columns: repeat(auto-fit);
}

.hero{
  grid-area: hero;
  min-height: 600px;
  min-width: 500px;
  max-width: 600px;
  background-image: url(../img/me.jpg);
  background-size: cover;
  background-position: center;
}

.hero > * {
  display: none;
}

.about{
  grid-area: about;
  display: grid;
  background: linear-gradient(to right, #ad5389, #3c1053);
  padding: 50px;
  color: white;
}

.about h4{
  font-size: 2.5em;
  font-weight: 200;
  line-height: 0.4em;
}

.about span:hover{
  color: black;
}

.about h6{
  font-size: 1.5em;
  font-weight: 120;
}

.about p{
  text-align: justify;
  line-height: 2em;
}

.about ul{
  list-style: none;
}

.about a{
  text-decoration: none;
  font-size: 14px;
  padding: 10px;
  border-radius: 30px;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90,92,106,1) 0%, rgba(32,45,58,1) 81.3% );
  color: white;
}

.about a:hover{
  font-weight: bold;
  color: black;
  background-color: #4158D0;
  background-image: linear-gradient(165deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
/* End Header */

/* Two Column */
.twoColumn{
  display: grid;
  grid-template-areas: 
    'educations project';
  grid-template-columns: repeat(auto-fit);
  margin-top: -5px;
}

.twoColumn .educations{
  padding: 30px;
  grid-area: educations;
  background-image: linear-gradient( 109.6deg,  rgba(5,84,94,1) 16%, #bbb 91.1% );
  color: white;
}

.twoColumn .educations h1{
  margin-bottom: 20px;
  text-transform: uppercase;
}

.twoColumn .educations ul{
  line-height: 2em;
}

.twoColumn .project{
  grid-area: project;
  background-color: #bbbbbb;
  background-image: linear-gradient(90deg, #bbbbbb 0%, #9FACE6 100%);
  padding: 30px;
  color: white;
}

.twoColumn .project h1{
  margin-bottom: 20px;
  text-transform: uppercase;
}

.twoColumn .project h3{
  margin-bottom: 10px;
}

.twoColumn .project ul{
  margin-left: 30px;
}

.twoColumn .project a{
  line-height: 2em;
  text-decoration: none;
  color: white;
}

.twoColumn .project a:hover{
  color: black;
  font-weight: bold;
}
/* End Two Column */

/* Section */
.sections{
  margin-top: -5px;
  background-image: linear-gradient( 65.5deg,  rgba(23,205,205,1) -15.1%, rgba(23,25,95,1) 71.5% );
  padding: 30px;
}

.sections h1{
  text-align: center;
  color: white;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.box-skills{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-gap: 20px;
}

.skills{
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(234,199,199,1) 0%, rgba(181,188,243,1) 99.3% );
  padding: 15px;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 30px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.skills:hover{
  opacity: 0.5;
  cursor: pointer;
}

.skills .icon{
  font-size: 2em;
  margin-bottom: 10px;
}

.skills img{
  width: 150px;
}

.skills h3{
  font-size: 1.5em;
}

.skills p{
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 0.8em;
}
/* End Section */

/* Contact */
.contacts{
  padding: 20px;
  margin-top: -5px;
  background-color: #74EBD5;
  background-image: linear-gradient(119deg, #74EBD5 0%, #9FACE6 100%);
}

.contact h1{
  text-align: left;
  grid-area: contact;
  margin-bottom: 30px;
  font-size: 1.5em;
  text-transform: uppercase;
}

.contact{
  display: grid;
  grid-template-areas: 
  'contact contact contact'  
  'github email ig';
  grid-template-columns: auto auto auto;
  text-align: center;
}

.contact a{
  text-decoration: none;
  color: black;
}

.contact a:hover{
  display: inline;
  background-color:rgba(23,205,205,1);
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
}

.contact a:visited{
  color: #ACACAC;
}

.contact .ig{
  grid-area: ig;
}

.contact .github{
  grid-area: github;
}

.contact .email{
  grid-area: email;
}

.contact .ig img{
  width: 85px;
}

.contact .gmail img{
  width: 65px;
}
/* End Contact */
/* End Main */

/* Footer */
.footer{
  color: #acacac;
  font-size: 14px;
  text-align: center;
  padding: 10px;
}
/* End Footer */

/* Social Media Bar */
.socialMedia{
  position: fixed;
  width: 40px;
  height: 170px;
  background-color: black;
  bottom: 0px;
  right: 0px;
}

.socialMedia a{
  display: block;
  color: white;
  padding: 10px;
}

.socialMedia a:last-child{
  background-color: darkmagenta;
  color: white;
  padding: 10px;
}

.socialMedia a:nth-child(-n+3):hover{
  background-color: white;
  color: black;
  transition: all 0.5s ease-in-out;
}

.socialMedia a:last-child:hover{
  color: black;
}
/* End Social Media Bar */

/*Responsive Break Point*/
@media only screen and (max-width: 1024px){
  .hero > * {
      display: block;
      background-color: black;
      color: white;
      margin-bottom: 5px;
      padding: 5px;
  }

  .hero {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
  }

  .about h4{
    font-size: 2.2em;
    font-weight: 200;
    line-height: 0.8em;
    margin-bottom: 30px;
  }
  
  .about h6{
    font-size: 1.2em;
    font-weight: 120;
    margin-bottom: 20px;
    line-height: 1.8em;
  }
  
  .about p{
    font-size: 0.9em;
    line-height: 1.7em;
    margin-bottom: 30px;
  }

  .twoColumn .educations h1{
    font-size: 1.3em;
  }

  .twoColumn .educations li{
    font-size: 0.9em;
  }

  .twoColumn .project h1{
    font-size: 1.3em;
  }
  
  .twoColumn .project h3{
    font-size: 1.1em;
  }

  .twoColumn .project a{
    font-size: 0.9em;
  }

  .sections h1{
    font-size: 1.3em;
  }

  .box-skills{
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  }

  .skills .icon{
    font-size: 1.2em;
  }
  
  .skills img{
    width: 100px;
  }

  .skills{
    padding: 2 0;
  }
}

/* Tablet */
@media only screen and (max-width: 768px) {
  .hero{
    min-width: 400px;
    max-width: 500px;
  }

  .about h4{
    font-size: 2.1em;
    font-weight: 200;
    line-height: 0.8em;
    margin-bottom: 25px;
  }
  
  .about h6{
    font-size: 1.1em;
    line-height: 1.5em;
    font-weight: 100;
    margin-bottom: 15px;
  }
  
  .about p{
    font-size: 0.8em;
    text-align: justify;
    line-height: 1.5em;
    margin-bottom: 30px;
  }

  .about a{
    font-size: 0.6em;
    padding: 8px;
  }

  .twoColumn{
    grid-template-areas: 
      'educations'
      'project';
  }

  .twoColumn .educations h1{
    font-size: 1.1em;
  }

  .twoColumn .educations li{
    font-size: 0.8em;
  }

  .twoColumn .project h1{
    font-size: 1.1em;
  }
  
  .twoColumn .project h3{
    font-size: 0.9em;
  }

  .twoColumn .project a{
    font-size: 0.8em;
  }

  .sections h1{
    font-size: 1.1em;
  }

  .box-skills{
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 20px;
  }

  .skills .icon{
    font-size: 1em;
  }
  
  .skills img{
    width: 100px;
  }

  .skills{
    padding: 2 0;
  }

  .socialMedia{
    height: 40px;
    width: 122px;
    bottom: 0px;
    right: 0px;
    opacity: 0.6;
    background-color: white;
    border-radius: 10px;
  }
  
  .socialMedia a{
    display: inline-block;
    color: #000000;
    padding: 10px;
  }

  .socialMedia a:last-child{
    display: none;
  }
}

/*Mobile*/
@media only screen and (max-width: 425px) {
  .header{
      grid-template-areas:
          'hero'
          'about'
  }

  .about h4{
    font-size: 2.1em;
    font-weight: 200;
    line-height: 0.8em;
    margin-bottom: 20px;
  }
  
  .about h6{
    font-size: 1.1em;
    line-height: 1.6em;
    font-weight: 120;
    margin-bottom: 15px;
  }
  
  .about p{
    font-size: 0.8em;
    text-align: justify;
    line-height: 1.7em;
    margin-bottom: 30px;
  }

  .about a{
    font-size: 0.6em;
    padding: 8px;
  }

  .box-skills{
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-gap: 20px;
  }

  .footer{
    font-size: 10px;
    padding: 8px 8px 8px 20px;
    text-align: left;
  }
}
/* End Responsive */