@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border;
  font-family: "Poppins", sans-serif !important;
}

body {
  background: rgba(219, 226, 226, alpha);
}

.row {
  background: white;
  border-radius: 30px;
  box-shadow: 12px 12px 22px grey;
}

.box{
  box-shadow: 2px 2px 8px grey;
}

img {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.btn-login {
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: #424242;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.btn-login:hover {
  background-color: white;
  border: 1px solid;
  color: #424242;
  transition: 0.5s;
}

.btn-sign-up {
  outline: none;
  height: 50px;
  width: 100%;
  background-color: white;
  color: #424242;
  border-radius: 4px;
  font-weight: bold;
}

.btn-sign-up:hover {
  background-color: #424242;
  border: 1px solid;
  color: white;
  transition: 0.5s;
}
.bl-2 {
  color: #424242;
}

.txt-2 {
  font-size: 1rem;
  line-height: 22.13px;
  width: 38%;
}

.txt-4 {
  font-size: 1rem;
  line-height: 22.13px;
  width: 40%;
}

.txt-3 {
  text-shadow: 2px 2px black;
  color: white;
  font-size: 1rem;
}
.txt-3 :hover{
  text-shadow: 2px 2px black;
  color: white;
  font-size: 1rem;
}

.mg-0 {
  margin: 0;
}

.img-right {
  float: right;
  width: 100px;
  height: 100px;
}

.grey{
  color: grey;
}

.mb-0{
  margin-bottom: 0px;
}


@media only screen and (max-width: 600px) {
  .img-right {
    float: left;
  }
  .txt-2 {
    width: 100%;
  }
  .txt-4 {
    width: 100%;
  }
}
